@model IEnumerable<Webbanhang.Models.sanpham>

@{ 
    int iDemSoLuongSp = 0;
    int iSoLuongSp = 6;
    int itrang = 1;
}

<div class="col-md-9 product1">
    <div class=" bottom-product">
        @foreach (var item in Model.OrderBy(n => n.DonGia))
        {
            if(iDemSoLuongSp % iSoLuongSp == 0 && iDemSoLuongSp != 0)
            {
                itrang++;
            }

        <div class="@Url.Content("col-md-4 bottom-product simpleCart_shelfItem Trang"+ @itrang.ToString())">
            <div class="product-at ">
                <a href="single.html">
                    <img class="img-responsive" src="@Url.Content("~/Content/sanpham/" + item.HinhAnh)" alt="">
                    <div class="pro-grid">
                        <span class="buy-in">Đặt Mua</span>
                    </div>
                </a>
            </div>
            <p class="tun">@item.TenSP</p>
            <a href="#" data-masp="@item.MaSP" class="item_add"><p class="number item_price">@item.DonGia.Value.ToString("#,##") VNĐ</p></a>
            @*thêm giỏ hàng ajax*@
            @*@Ajax.ActionLink(item.DonGia.Value.ToString("#,##") + " VNĐ", "themgiohangAjax", "GioHang", new { @masp = item.MaSP, @sUrl = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "giohang", InsertionMode = InsertionMode.Replace }, new { @class = "item_add number item_price" })*@

        </div>
            iDemSoLuongSp++;


        }
        <div class="clearfix"> </div>
    </div>
    <div class="trang">
        @for(int i = 1; i <= itrang; i++)
            {
                <a href="#" class=" btn btn-default linkpage" data-sotrang="@Url.Content("Trang"+i)">@i</a>
            }
    </div>
</div>
<style>
    .simpleCart_shelfItem{
        display:none;
    }
    .Trang1{
        display:block;
    }
</style>
<script type="text/javascript">
    $(".linkpage").click(function () {
        //an tat ca trang di
        $(".simpleCart_shelfItem").hide();
        //lay so trang
        var sotrang = $(this).attr("data-sotrang");
        //hien class co so trang tuong ung
        $('.' + sotrang + '').show();
    })

    $('.item_add').click(function () {
        var maSP = $(this).attr('data-masp')
        $.ajax({
            type: 'POST',
            data: {
                MaSP: maSP
            },
            url: '/GioHang/themgiohangAjax',
            success: function (ketqua) {
                $('#divGiohang').html(ketqua);
            }
        })
    });
</script>
